@import url(../css/thisisglamorous.css);
body {
  font-family: 'Baskerville', 'adobe-garamond-pro', Times, 'Times New Roman', serif; }

.main-container {
  width: 85%;
  margin: 0 auto;
  font-style: italic; }

.divider {
  width: 100%;
  margin-bottom: 50px; }
  .divider .main-container {
    text-align: center;
    padding-top: 30px; }
    .divider .main-container div {
      display: inline-block;
      vertical-align: middle;
      font-family: 'futura-pt', 'Futura', 'Helvetica Neue', sans-serif;
      font-size: 16px; }
    .divider .main-container .line1 {
      width: 45%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .divider .main-container .line2 {
      width: 45%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .divider .main-container .line3 {
      margin: 0 1%;
      width: 8%;
      font-style: normal; }

.swiper-container {
  width: 85%;
  height: 610px; }
  .swiper-container .swiper-wrapper {
    font-family: 'Baskerville', 'adobe-garamond-pro', Times, 'Times New Roman', serif; }
    .swiper-container .swiper-wrapper .swiper-slide {
      width: 100%; }
      .swiper-container .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: 100%; }
      .swiper-container .swiper-wrapper .swiper-slide .introduce {
        width: 60%;
        padding: 50px 0;
        position: absolute;
        background: #000;
        z-index: 999;
        bottom: 50px;
        left: 25%;
        text-align: center;
        color: #fff; }
        .swiper-container .swiper-wrapper .swiper-slide .introduce a {
          color: #fff;
          font-size: 20px; }
          .swiper-container .swiper-wrapper .swiper-slide .introduce a:hover {
            color: gray; }
        .swiper-container .swiper-wrapper .swiper-slide .introduce div {
          margin: 15px 0;
          font-size: 16px; }
          .swiper-container .swiper-wrapper .swiper-slide .introduce div a {
            color: #fff;
            font-size: 16px; }
        .swiper-container .swiper-wrapper .swiper-slide .introduce p {
          font-size: 14px; }
  .swiper-container .swiper-button-white {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") no-repeat center center rgba(0, 0, 0, 0.4);
    width: 35px;
    height: 50px;
    opacity: 0; }

.allPicture {
  margin-top: 20px; }
  .allPicture .main-container {
    font-family: 'Baskerville', Georgia, serif; }
    .allPicture .main-container .pictureBrief {
      display: inline-block;
      vertical-align: top;
      width: 23.5%;
      padding-bottom: 25px;
      margin-right: 2%; }
      .allPicture .main-container .pictureBrief img {
        width: 100%; }
      .allPicture .main-container .pictureBrief .hover h3 {
        color: rgba(0, 0, 0, 0.75);
        font-size: 150%; }
        .allPicture .main-container .pictureBrief .hover h3:hover {
          color: rgba(0, 0, 0, 0.5); }
      .allPicture .main-container .pictureBrief .hover p {
        margin-top: 15px;
        font-size: 100%;
        color: rgba(0, 0, 0, 0.8); }
      .allPicture .main-container .pictureBrief:nth-child(4n) {
        margin-right: 0; }

/*# sourceMappingURL=fashion.css.map */
