.move{
  bottom:220px !important;
}

.allPicture-hide{
  margin-top: 20px;
  .main-container{
    font-family: 'Baskerville', Georgia, serif;
    .pictureBrief{
      display: inline-block;
      vertical-align: top;
      width: 23.5%;
      padding-bottom: 25px;
      margin-right: 2%;
      img{
        width: 100%;
      }
      .hover{
        h3{
          color: rgba(0,0,0,0.75);
          font-size: 150%;
          &:hover{
            color:rgba(0,0,0,0.5);
          }
        }
        p{
          margin-top: 15px;
          font-size: 100%;
          color: rgba(0,0,0,0.8);
        }
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }
}
#Pagination{
  width: 23%;
  height: 30px;
  margin: 50px auto 0 auto;
  .prev,.next{
    display: none;
  }
}
