body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0; }

body, button, input, select, textarea {
  font-weight: 400;
  font-family: 'adobe-garamond-pro', Georgia, serif;
  font-size: 11pt;
  letter-spacing: 0.75pt; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

code, kbd, pre, samp {
  font-family: couriernew, courier, monospace; }

small {
  font-size: 12px; }

ul, ol {
  list-style-type: none; }

a {
  text-decoration: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

legend {
  color: #000; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  border-top: 5px solid #ffcccc;
  padding-top: 200px; }

.main {
  width: 1200px;
  margin: 0 auto; }

@media (min-width: 769px) {
  .nav {
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #000;
    box-shadow: #333333 0 0 30px; }
    .nav .header {
      width: 100%; }
      .nav .header ul {
        width: 100%; }
        .nav .header ul li {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-right: 25px;
          margin-top: 18px; }
          .nav .header ul li a {
            font-size: 16px;
            color: #fff; }
          .nav .header ul li .dropdown {
            margin-left: -4px; }
        .nav .header ul .common {
          display: none;
          background: #fff;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          width: 1400px;
          margin-left: -225px;
          margin-top: 23px;
          position: absolute;
          z-index: 999; }
          .nav .header ul .common li:first-child {
            margin-left: 27px; }
          .nav .header ul .common li a {
            color: #000; }
            .nav .header ul .common li a img {
              width: 245px; }
            .nav .header ul .common li a p {
              font-size: 24px;
              font-family: 'Baskerville', 'adobe-garamond-pro', Times, 'Times New Roman', serif;
              width: 245px;
              line-height: 35px; }
            .nav .header ul .common li a:hover {
              color: #ffcccc; }
      .nav .header .inspiration {
        margin-left: -390px !important; }
      .nav .header .travel {
        margin-left: -522px !important; }
      .nav .header .fashion {
        margin-left: -616px !important; }
      .nav .header .culture {
        margin-left: -722px !important; }
      .nav .header .food {
        margin-left: -880px !important; }
      .nav .header .to {
        margin-left: -962px !important; }
      .nav .header .shop {
        margin-left: -1065px !important; }

  .logo {
    width: 100%;
    height: 150px;
    z-index: 998;
    position: absolute;
    top: 82px; }
    .logo .what {
      animation: Top 3s linear; }
  @keyframes Top {
    from {
      top: 82px; }
    to {
      margin-top: -84px; } }
  @-webkit-keyframes Top {
    from {
      top: 82px; }
    to {
      margin-top: -84px; } }
  @-moz-keyframes Top {
    from {
      top: 82px; }
    to {
      margin-top: -84px; } }
  @-o-keyframes Top {
    from {
      top: 82px; }
    to {
      margin-top: -84px; } }
    .logo .main {
      text-align: center; }
    .logo .picLogo img {
      width: 382px;
      height: 146px;
      outline: 0; }

  .Picture {
    width: 100%;
    margin-top: 13px; }
    .Picture .main {
      text-align: left; }
      .Picture .main .left {
        display: inline-block;
        vertical-align: top;
        width: 50%; }
        .Picture .main .left img {
          width: 600px;
          height: 600px; }
        .Picture .main .left .mask {
          display: none;
          width: 500px;
          height: 210px;
          background: #000;
          position: absolute;
          margin: -275px 0 0 50px;
          text-align: center;
          padding-top: 10px; }
          .Picture .main .left .mask a {
            color: #fff; }
            .Picture .main .left .mask a h2 {
              font-size: 16px;
              margin-top: 15px; }
            .Picture .main .left .mask a h3 {
              font-size: 24px;
              margin-top: 25px;
              font-weight: bold; }
            .Picture .main .left .mask a p {
              font-size: 14px;
              margin-top: 20px; }
      .Picture .main .right {
        display: inline-block;
        vertical-align: top;
        width: 48%; }
        .Picture .main .right .content {
          background: #f2f2f2;
          width: 69%;
          padding-bottom: 20px; }
          .Picture .main .right .content a {
            color: #000; }
            .Picture .main .right .content a img {
              width: 397px;
              height: 600; }
            .Picture .main .right .content a h2 {
              font-size: 16px;
              margin: 15px 18px 0 20px; }
            .Picture .main .right .content a h3 {
              font-size: 24px;
              margin: 15px 18px 0 20px;
              font-weight: bold; }
            .Picture .main .right .content a p {
              font-size: 14px;
              margin: 15px 18px 0 20px; }
          .Picture .main .right .content:hover {
            background: #ffcccc; }
            .Picture .main .right .content:hover a {
              color: #fff; }
      .Picture .main .upper {
        display: inline-block;
        vertical-align: top;
        width: 44%;
        position: absolute;
        margin-top: -190px; }
        .Picture .main .upper img {
          width: 600px;
          height: 600px; }
        .Picture .main .upper .mask1 {
          display: none;
          width: 500px;
          height: 190px;
          background: #000;
          position: absolute;
          margin: -245px 0 0 50px;
          text-align: center;
          padding-top: 10px; }
          .Picture .main .upper .mask1 a {
            color: #fff; }
            .Picture .main .upper .mask1 a h2 {
              font-size: 16px;
              margin-top: 15px; }
            .Picture .main .upper .mask1 a h3 {
              font-size: 24px;
              margin-top: 15px;
              font-weight: bold; }
            .Picture .main .upper .mask1 a p {
              font-size: 14px;
              margin-top: 20px; }
      .Picture .main .righter {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        margin: 20px 0 0 620px;
        width: 505px;
        padding: 10px 10px 10px 15px;
        background: #f2f2f2; }
        .Picture .main .righter .content {
          width: 55%; }
          .Picture .main .righter .content a {
            color: #000; }
            .Picture .main .righter .content a img {
              width: 280px;
              height: 425px; }
            .Picture .main .righter .content a .introduce {
              position: absolute;
              width: 220px;
              margin-top: -428px;
              margin-left: 280px; }
              .Picture .main .righter .content a .introduce h2 {
                font-size: 16px;
                margin: 15px 18px 0 20px; }
              .Picture .main .righter .content a .introduce h3 {
                font-size: 24px;
                margin: 15px 18px 0 20px;
                font-weight: bold; }
              .Picture .main .righter .content a .introduce p {
                font-size: 14px;
                margin: 15px 18px 0 20px;
                line-height: 23px; }
              .Picture .main .righter .content a .introduce .up-left, .Picture .main .righter .content a .introduce .up-right, .Picture .main .righter .content a .introduce .down-left, .Picture .main .righter .content a .introduce .down-right {
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                cursor: default; }
              .Picture .main .righter .content a .introduce .up-left {
                top: -10px;
                left: -295px;
                border-width: 30px 30px 0 0;
                border-color: #000 transparent transparent transparent; }
              .Picture .main .righter .content a .introduce .up-right {
                top: -10px;
                left: 205px;
                border-width: 0 30px 30px 0;
                border-color: transparent #000 transparent transparent; }
              .Picture .main .righter .content a .introduce .down-left {
                top: 408px;
                left: -295px;
                border-width: 30px 0 0 30px;
                border-color: transparent transparent transparent #000; }
              .Picture .main .righter .content a .introduce .down-right {
                top: 408px;
                left: 205px;
                border-width: 0 0 30px 30px;
                border-color: transparent transparent #000 transparent; }
      .Picture .main .social {
        padding: 10px 0 0 10px;
        position: absolute;
        width: 150px;
        height: 165px;
        border: 10px solid #000;
        margin-top: 430px; }
        .Picture .main .social a {
          font-family: 'futura-pt', 'Futura', 'Helvetica Neue', sans-serif;
          display: block;
          font-size: 16px;
          color: #000;
          margin-bottom: 5px; }
          .Picture .main .social a:hover {
            color: lightgray; }
      .Picture .main .copy {
        margin-top: 490px !important;
        margin-left: 205px !important; }
      .Picture .main .other {
        margin-top: 490px !important;
        margin-left: 761px !important; }
      .Picture .main .showToggle {
        display: inline-block;
        vertical-align: top;
        width: 44%;
        position: absolute;
        margin-top: -338px; }
        .Picture .main .showToggle img {
          width: 600px;
          height: 600px; }
        .Picture .main .showToggle .mask3 {
          display: none;
          width: 500px;
          height: 190px;
          background: #000;
          position: absolute;
          margin: -245px 0 0 50px;
          text-align: center;
          padding-top: 10px; }
          .Picture .main .showToggle .mask3 a {
            color: #fff; }
            .Picture .main .showToggle .mask3 a h2 {
              font-size: 16px;
              margin-top: 15px; }
            .Picture .main .showToggle .mask3 a h3 {
              font-size: 24px;
              margin-top: 15px;
              font-weight: bold; }
            .Picture .main .showToggle .mask3 a p {
              font-size: 14px;
              margin-top: 20px; }
      .Picture .main .longer {
        margin-top: 280px; }
      .Picture .main .showToggle1 {
        display: inline-block;
        vertical-align: top;
        width: 44%;
        position: absolute;
        margin-top: 490px;
        margin-left: -157px; }
        .Picture .main .showToggle1 img {
          width: 600px;
          height: 600px; }
        .Picture .main .showToggle1 .mask4 {
          display: none;
          width: 500px;
          height: 190px;
          background: #000;
          position: absolute;
          margin: -245px 0 0 50px;
          text-align: center;
          padding-top: 10px; }
          .Picture .main .showToggle1 .mask4 a {
            color: #fff; }
            .Picture .main .showToggle1 .mask4 a h2 {
              font-size: 16px;
              margin-top: 15px; }
            .Picture .main .showToggle1 .mask4 a h3 {
              font-size: 24px;
              margin-top: 15px;
              font-weight: bold; }
            .Picture .main .showToggle1 .mask4 a p {
              font-size: 14px;
              margin-top: 20px; }
      .Picture .main .background:hover {
        background: #091f2f !important; }
      .Picture .main .flower {
        margin: 15px 75px 0 20px !important; }
      .Picture .main .black-image {
        width: 290px;
        height: 300px;
        background: #000;
        position: absolute;
        margin-top: -168px;
        margin-left: 434px; }
        .Picture .main .black-image .bottom {
          width: 100%; }
          .Picture .main .black-image .bottom img {
            width: 100%; }
        .Picture .main .black-image .cover {
          width: 275px;
          height: 280px;
          background: #000;
          position: absolute;
          margin-top: -193px;
          color: #fff;
          z-index: 2;
          text-align: left;
          padding: 20px 0 0 15px; }
          .Picture .main .black-image .cover h4 {
            font-size: 18px; }
          .Picture .main .black-image .cover h2 {
            font-size: 30px;
            margin-top: 20px; }
          .Picture .main .black-image .cover p {
            font-size: 14px;
            margin-top: 20px;
            border-bottom: 1px solid #fff;
            width: 70px; }
      .Picture .main .black-image1 {
        width: 290px;
        height: 300px;
        background: #000;
        position: absolute;
        margin-top: -168px;
        margin-left: 744px; }
        .Picture .main .black-image1 .bottom {
          width: 100%; }
          .Picture .main .black-image1 .bottom img {
            width: 100%;
            height: 300px; }
        .Picture .main .black-image1 .cover1 {
          width: 275px;
          height: 280px;
          background: #000;
          position: absolute;
          margin-top: -302px;
          color: #fff;
          z-index: 2;
          text-align: left;
          padding: 20px 0 0 15px; }
          .Picture .main .black-image1 .cover1 h4 {
            font-size: 18px; }
          .Picture .main .black-image1 .cover1 h2 {
            font-size: 30px;
            margin-top: 20px; }
          .Picture .main .black-image1 .cover1 p {
            font-size: 14px;
            margin-top: 20px;
            border-bottom: 1px solid #fff;
            width: 70px; }

  .footer {
    width: 100%;
    background: #ffcccc;
    margin-top: 230px;
    padding: 15px 0; }
    .footer .copyright {
      width: 25%;
      display: inline-block;
      text-align: left;
      vertical-align: top; }
      .footer .copyright a {
        color: #000;
        font-size: 16px; }
    .footer .menu {
      width: 49%;
      display: inline-block;
      vertical-align: top;
      text-align: center; }
      .footer .menu ul li {
        display: inline-block;
        vertical-align: middle; }
        .footer .menu ul li a {
          font-size: 12px;
          color: #000; }
    .footer .goTop {
      width: 25%;
      display: inline-block;
      vertical-align: top;
      text-align: right; }
      .footer .goTop span {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle; }
      .footer .goTop a {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 11px 10px;
        border-color: transparent transparent #000 transparent;
        display: inline-block;
        vertical-align: middle; }
        .footer .goTop a:hover {
          color: #000;
          opacity: 0.6; }

  .reborn {
    width: 100%; }
    .reborn .main .left-picture {
      margin-top: 20px; }
      .reborn .main .left-picture img {
        width: 300px;
        height: 600px; }
    .reborn .main .middle-word {
      position: absolute;
      margin-top: -470px;
      margin-left: 320px;
      width: 202px;
      height: 382px;
      padding: 0 20px;
      background: #f2f2f2; }
      .reborn .main .middle-word a .underline {
        font-size: 26px;
        color: #000;
        line-height: 55px;
        display: inline;
        border-bottom: 2px solid #000;
        font-family: 'adobe-garamond-pro', 'Baskerville', Georgia, serif; }
        .reborn .main .middle-word a .underline:hover {
          color: rgba(0, 0, 0, 0.5); }
    .reborn .main .middle-picture {
      width: 300px;
      height: 300px;
      margin: -70px 0 0 320px;
      position: relative; }
      .reborn .main .middle-picture .picture {
        width: 100%; }
        .reborn .main .middle-picture .picture img {
          width: 300px;
          height: 300px; }
      .reborn .main .middle-picture .mask-flower {
        width: 100%;
        height: 300px;
        background: #000;
        z-index: 2;
        color: #fff;
        margin-top: -303px;
        position: absolute; }
        .reborn .main .middle-picture .mask-flower h4 {
          font-size: 18px;
          margin: 15px 20px 0 20px; }
        .reborn .main .middle-picture .mask-flower h2 {
          font-size: 24px;
          margin: 15px 26px 5px 20px;
          line-height: 137%; }
        .reborn .main .middle-picture .mask-flower p {
          font-size: 14px;
          margin: 15px 20px 0 20px;
          display: inline-block;
          padding-bottom: 5px;
          border-bottom: 1px solid #777; }
    .reborn .main .right-picture {
      width: 500px;
      height: 485px;
      background: #f2f2f2;
      padding: 15px;
      margin: -700px 0 0 645px; }
      .reborn .main .right-picture a {
        display: inline-block;
        vertical-align: top;
        color: #000; }
      .reborn .main .right-picture .left {
        width: 60%; }
        .reborn .main .right-picture .left img {
          width: 280px;
          height: 420px; }
      .reborn .main .right-picture .right {
        width: 36%;
        margin-top: 10px;
        font-family: 'Baskerville', 'adobe-garamond-pro', Times, 'Times New Roman', serif; }
        .reborn .main .right-picture .right h4 {
          font-size: 16px;
          margin-bottom: 15px; }
        .reborn .main .right-picture .right h2 {
          font-size: 22px;
          margin-bottom: 15px; }
        .reborn .main .right-picture .right .author {
          margin-bottom: 10px; }
        .reborn .main .right-picture .right p {
          font-size: 14px;
          line-height: 20px;
          color: gray; }
        .reborn .main .right-picture .right:hover {
          color: gray; }
      .reborn .main .right-picture span {
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid; }
      .reborn .main .right-picture .up-left {
        border-width: 30px 30px 0 0;
        border-color: #000 transparent transparent transparent;
        margin: -15px 0 0 -500px; }
      .reborn .main .right-picture .up-right {
        margin-top: -15px;
        border-width: 0 30px 30px 0; }
      .reborn .main .right-picture .down-left {
        margin: 470px 0 0 -500px;
        border-width: 30px 0 0 30px;
        border-color: transparent transparent transparent #000; }
      .reborn .main .right-picture .down-right {
        border-width: 0 0 30px 30px;
        border-color: transparent transparent #000 transparent;
        margin: 470px 0 0 0; } }

/*# sourceMappingURL=thisisglamorous.css.map */
