<% include common/header.html %>
 <div class="divider">
     <div class="main-container">
         <div class="line1"></div><div class="line3">FASHION</div><div class="line2"></div>
     </div>
 </div>
 <div class="swiper-container">
     <div class="swiper-wrapper">
         <div class="swiper-slide">
             <img src="images/decor_swiper/swiper1.jpg">
             <div class="introduce">
                 <a href="#"> Style Inspiration: A Few Favourite Looks for Autumn 13.10.16</a>
                 <div>BY <a href="#">ROSÉLINE</a></div>
                 <p>13th October 2016</p>
             </div>
         </div>
         <div class="swiper-slide">
             <img src="images/decor_swiper/swiper2.jpg">
             <div class="introduce">
                 <a href="#"> Style Inspiration: A Few Favourite Looks for Autumn 13.10.16</a>
                 <div>BY <a href="#">ROSÉLINE</a></div>
                 <p>13th October 2016</p>
             </div>
         </div>
         <div class="swiper-slide">
             <img src="images/decor_swiper/swiper3.jpg">
             <div class="introduce">
                 <a href="#"> Style Inspiration: A Few Favourite Looks for Autumn 13.10.16</a>
                 <div>BY <a href="#">ROSÉLINE</a></div>
                 <p>13th October 2016</p>
             </div>
         </div>
         <div class="swiper-slide">
             <img src="images/decor_swiper/swiper4.jpg">
             <div class="introduce">
                 <a href="#"> Style Inspiration: A Few Favourite Looks for Autumn 13.10.16</a>
                 <div>BY <a href="#">ROSÉLINE</a></div>
                 <p>13th October 2016</p>
             </div>
         </div>
         <div class="swiper-slide">
             <img src="images/decor_swiper/swiper5.jpg">
             <div class="introduce">
                 <a href="#"> Style Inspiration: A Few Favourite Looks for Autumn 13.10.16</a>
                 <div>BY <a href="#">ROSÉLINE</a></div>
                 <p>13th October 2016</p>
             </div>
         </div>
     </div>
     <div class="swiper-button-prev swiper-button-white"></div>
     <div class="swiper-button-next swiper-button-white"></div>
 </div>
 <div class="allPicture">
     <div class="main-container">
         <div class="pictureBrief">
             <a href="javascript:void(0);">
                 <img src="images/decor_swiper/1.jpg">
             </a>
             <a href="javascript:void(0);" class="hover">
                 <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
                 <p>BY ROSÉLINE</p>
                 <p>6TH NOV 2016</p>
             </a>
         </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/2.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/3.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Runway: Philosophy di Lorenzo Serafini Spring 2017 Ready-to-Wear, Milan</h3>
             <p>BY  TIG STUDIO</p>
             <p>26th September 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/4.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div>
     </div>
     <div class="main-container">
         <div class="pictureBrief">
             <a href="javascript:void(0);">
                 <img src="images/decor_swiper/5.jpg">
             </a>
             <a href="javascript:void(0);" class="hover">
                 <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
                 <p>BY ROSÉLINE</p>
                 <p>6TH NOV 2016</p>
             </a>
         </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/6.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/7.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Runway: Philosophy di Lorenzo Serafini Spring 2017 Ready-to-Wear, Milan</h3>
             <p>BY  TIG STUDIO</p>
             <p>26th September 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/8-1-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div>
     </div>
     <div class="main-container">
         <div class="pictureBrief">
             <a href="javascript:void(0);">
                 <img src="images/decor_swiper/1-2-400x215.jpg">
             </a>
             <a href="javascript:void(0);" class="hover">
                 <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
                 <p>BY ROSÉLINE</p>
                 <p>6TH NOV 2016</p>
             </a>
         </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/01-10-Images-With-@theglitteringunknown-This-Is-Glamorous-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/01-How-to-Wear-a-Camisole-as-a-Top-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Runway: Philosophy di Lorenzo Serafini Spring 2017 Ready-to-Wear, Milan</h3>
             <p>BY  TIG STUDIO</p>
             <p>26th September 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/01-Runway-Philosophy-Spring-2017-This-Is-Glamorous-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div>
     </div>
     <div class="main-container">
         <div class="pictureBrief">
             <a href="javascript:void(0);">
                 <img src="images/decor_swiper/01-Runway-Simone-Rocha-Spring-2017-RTW-This-Is-Glamorous-400x215.jpg">
             </a>
             <a href="javascript:void(0);" class="hover">
                 <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
                 <p>BY ROSÉLINE</p>
                 <p>6TH NOV 2016</p>
             </a>
         </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/01-Taylor-Hill-for-Alexandre-Vauthier-SpringSummer-2017-This-Is-Glamorous-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/01-Style-Inspiration-@lucyflorals-This-Is-Glamorous-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Runway: Philosophy di Lorenzo Serafini Spring 2017 Ready-to-Wear, Milan</h3>
             <p>BY  TIG STUDIO</p>
             <p>26th September 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/01-This-Is-Glamorous-Style-Inspiration-@jannid-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div>
     </div>
     <div class="main-container">
         <div class="pictureBrief">
             <a href="javascript:void(0);">
                 <img src="images/decor_swiper/02-Runway-Bora-Aksu-Spring-2017-RTW-This-Is-Glamorous-400x215.jpg">
             </a>
             <a href="javascript:void(0);" class="hover">
                 <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
                 <p>BY ROSÉLINE</p>
                 <p>6TH NOV 2016</p>
             </a>
         </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/03-Runway-Chloe-Spring-2017-Ready-to-Wear-This-Is-Glamorous-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/04-10-Images-With-_aya.lulu_-This-Is-Glamorous-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Runway: Philosophy di Lorenzo Serafini Spring 2017 Ready-to-Wear, Milan</h3>
             <p>BY  TIG STUDIO</p>
             <p>26th September 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/05-Bottega-Veneta-Spring-2017-Ready-to-Wear-This-Is-Glamorous-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div>
     </div>
     <div class="main-container">
         <div class="pictureBrief">
             <a href="javascript:void(0);">
                 <img src="images/decor_swiper/08-Autumn-Street-Style-13.10.16-This-Is-Glamorous-400x215.jpg">
             </a>
             <a href="javascript:void(0);" class="hover">
                 <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
                 <p>BY ROSÉLINE</p>
                 <p>6TH NOV 2016</p>
             </a>
         </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/13-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/14-1-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Runway: Philosophy di Lorenzo Serafini Spring 2017 Ready-to-Wear, Milan</h3>
             <p>BY  TIG STUDIO</p>
             <p>26th September 2016</p>
         </a>
     </div><div class="pictureBrief">
         <a href="javascript:void(0);">
             <img src="images/decor_swiper/15-This-Is-Glamorous-@fashionedchicstyling-400x215.jpg">
         </a>
         <a href="javascript:void(0);" class="hover">
             <h3>Style Mastermix | 05.11.16 — Images of Perfect Fashion x Décor Inspiration to End the Week</h3>
             <p>BY ROSÉLINE</p>
             <p>6TH NOV 2016</p>
         </a>
     </div>
     </div>
 </div>
<% include common/footer.html %>
</body>
</html>