<section class="footer">
    <div class="main">
        <div class="copyright"><a href="http://www.thisisglamorous.com" title="This is Glamorous Home"> THIS IS GLAMOROUS ©</a></div>
        <div class="menu">
            <ul>
                <li><a href="http://www.thisisglamorous.com/about/">ABOUT</a></li>
                |
                <li><a href="http://www.thisisglamorous.com/contributors-2/">CONTRIBUTORS</a></li>
                |
                <li><a href="http://shop.thisisglamorous.com/">SHOP</a></li>
                |
                <li><a href="http://www.thisisglamorous.com/collaborate-with-us/">COLLABORATE</a></li>
                |
                <li><a href="http://www.thisisglamorous.com/contact/">CONTACT</a></li>
                |
                <li><a href="http://www.thisisglamorous.com/privacy/">PRIVACY</a></li>
                |
                <li><a href="https://www.facebook.com/thisisglamorous/?ref=aymt_homepage_panel">FACEBOOK</a></li>
            </ul>
        </div>
        <div class="goTop">
            <span> BACK TO TOP</span>
            <a href="javascript:void(0)"></a>
        </div>
    </div>
</section>